body{
  margin: 0px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin: 0px 60px
}

.navBarContainer{
  display: flex;
  justify-content: center;
  width: 100%;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
}
.navBar {
  margin-top: 20px;
  background-color:rgba(32, 32, 32, 0.623);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.562);
  border-radius: 60px;
  height: 40px;
}
.linkHome{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  height: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.linkHome:hover{
  background-color:  #106fffea;
}

.linkHome h4{
  margin: 0px;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.678)) ;
}
.sectionTitle{
  display: flex;
  flex-direction: column;
justify-content: center;
align-items: center;
  height: 38vh;
  width: 80%;
  background-image: url(../../public/assets/background.png);
  background-size: cover;
  background-position-y: 5%;
  background-repeat: no-repeat;
}
.titleHome{
  margin: 0px;
  color: rgb(230, 230, 230);
  font-size: 3.8rem;
  font-weight: 800;
  letter-spacing: 3px;
}
.subTitleHome{
  text-align: center;
  width: 280px;
  margin: 0px;
  padding-top: 15px;
  color: rgba(211, 211, 211, 0.658);
  font-size: 1rem;
  font-weight: 600;
}
.page{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blogsSection{
  background-color: #0A0A0A;
  width: 80%;
  border-radius: 8px;
  
}
.titleSectionContainer{
  display: flex;
  
  justify-content: space-between;
  padding: 50px 6.5%;
  background: linear-gradient(to top, transparent, rgba(88, 88, 88, 0.164));
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: #383838 2px solid;
  
}

.titleBlogSection{
  font-weight: 800; 
  font-size: 2rem; 
  margin: 0;
  
}

.searchBarContainer{
  width: 100%;
  padding-left: 8px;
}

.searchBar{
  padding-left: 20px;
  width: 100%;
  height: 34px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 0px;
  background-color: #383838;
  color: white;
  outline: none;
}


.sortBy{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 35px;
  background-color: #0A0A0A;
  color: rgb(212, 212, 212);
}
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  color: #ffffff;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: rgb(110, 110, 110);
}
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: rgb(126, 126, 126);
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
  color: white;
  
}
.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00000000;
  border-width: 2px;
}


.blogsContainer{
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  flex-wrap: wrap;
  gap: 30px;
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.4), rgb(0, 0, 0));
  padding-bottom: 200px;
}

.cardContainer{
  width: 390px;
  border-radius: 8px;
  margin-top: 8px;
}

.cardSorted{
  display: flex;
  align-items: center;
  width: 87%;
  height: 240px;
  background-color: #161616;
  border-radius: 10px;
}
.imgContainer{
  background-color: rgb(8, 8, 8);
  width: 100%;
  height: 270px;
  border-radius: 8px;
}
.imgSorted{
  width: 300px;
  height: 100%;
  
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.imgSorted img{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.imgContainer img{
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.textBlogContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7px;
  padding-top: 20px;
  height: 270px
}
.textSorted{
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 0px;
  padding-left: 20PX;
}
.textSorted div{
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.textSorted p{
  font-size: 0.8rem;
  margin: 10px 0px;
  color: #a3a3a3a8;
  font-weight: 400;
  width: 40%;
}
.textSorted h2{
  width: 50%;
  margin: 0PX;
}

.textSorted span{
  padding-top: 7px;
  font-size: 0.7rem;
  color: #a5a5a5;
  
}

.textBlogContainer p{
  font-size: 0.85rem;
  margin: 10px 0px;
  color: #a3a3a3a8;
  font-weight: 400;
}
.textBlogContainer h2{
  font-size: 1.1rem;
  margin: 0px;
  padding-top: 5px;
  height: 60px;
  font-weight: 700;
  color: #fffdef;

}
.textBlogContainer span{
  font-size: 0.7rem;
  color: #a5a5a5;
  
}

.containerLink{
  display: flex;
  justify-content: center;
  
}

.sortedLinkContainer{
  display: flex;
  justify-content: center;
  padding-right: 40px;
}
.sortedLink{
  background-color:  transparent;
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
  
}
.sortedLink:hover{
  color: #106fffea;
  
}
.arrowlink{
  font-size: 40px;
}

.link{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 100%;
  height: 50px;
  background-color:  transparent;
  border: solid 1.5px  #6b6b6b98;
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
}
.link:hover{
  background-color:  #106fffea;
  border: solid 1.5px  #106fffea;
  color: white;
  
}

.blogDetailContainer{
  background: linear-gradient(to bottom, rgba(56, 56, 56, 0.301), rgb(0, 0, 0));
  width: 70%;
  border-radius: 8px;
  height: fit-content;
  margin-bottom: 100px;
}
.titlePlusImage{
  height: 320px;
  padding: 4%;
  padding-right: 1%;
  display: flex;
}
.imageDetailContainer{
  width: 45%;
  height: 100%;
  
}
.imageDetailContainer img{
  width: 100%;
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  
}

.containerTextDetail{
  display: flex;
  flex-direction: column;
  
  margin-left: 40px;
  margin-top: 10px;
  width: 70%;
}
.titleDetail{
  display: flex;
  margin: 0px;
  font-size: 2.3rem;
  font-weight: 800;
  width: 90%;
}
.containerTextDetail p{
  margin: 0;
  padding-top: 20px;
  width: 76%;
  color: #a1a1a1;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1rem;
}
.richTextContainer{
  padding: 30px 0px;
  margin: 0px 70px;
  border-top: 2px solid #d4d4d41c;
}

.richTextContainer p{
  margin: 0px;
  margin-top: 40px;
  font-size: 1rem;
  color: #d1d1d1;
  line-height: 1.6;
}

.footerSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  
}
.imageIneContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.madeBy{
  display: flex; 
  margin-top: 20px; 
  gap: 5px;
  color: #5e5e5e;
}

.containerSearchSort{
  border-radius: 20;
  display:flex;
  justify-content:end;
  align-items:center;
  width:32.5%;
  height: 45;
  background-color:transparent;
}

@media screen and (max-width: 1500px) {

  .blogDetailContainer{
    background: linear-gradient(to bottom, rgba(56, 56, 56, 0.301), rgb(0, 0, 0));
    width: 70%;
    border-radius: 8px;
    height: fit-content;
    margin-bottom: 100px;
  }
  .titlePlusImage{
    height: fit-content;
    padding-right: 4%;
    display: flex;
    flex-direction: column;
  }
  .imageDetailContainer{
    width: 100%;
    height: 200px;
    
  }
  .containerTextDetail{
    padding: 5px;
    width: 100%;
    margin-left: 0px;
  }
  .containerTextDetail p{
    padding-top: 10px;
    width: 90%;
    margin-left: 0px;
    font-size: 0.7rem;
  }
  .titleDetail{
    font-size: 1.5rem;
  }

  .richTextContainer{
    padding-top: 0px;
    margin: 0px 4%;
  }

  .cardSorted{
    gap: 20px;

  }
  .textSorted{
    width: 90%;
    height: fit-content;
    padding: 0px 0px;
  }
  .textSorted h2{
    width: 100%;
    font-size: 1.2rem;
    
  }
  .textSorted p{
    width: 75%;
    font-size: 0.7rem;
    padding-top: 0px;
    margin: 0px;
  }
  .textSorted span{
    width: 100%;
    font-size: 0.6rem;
  }
  .sortedLinkContainer{
    padding-right: 20px;
  }
  .cardSorted{
    height: 200px;
  }
}

@media screen and (max-width: 930px) {

  .blogDetailContainer{
    margin-top: 20px ;
    
  }

  body{
    margin: 0px 20px
  }
  .navBarContainer{
    margin-bottom: 0px;
  }
  .sectionTitle{
    height: 20vh;
    background-image: none;
    padding-bottom: 20px;
  }
  .titleHome{
    font-size: 2.5rem;
  }
  .subTitleHome{
    text-align: center;
    font-size: 0.8rem;
    
  }
  
  .blogsSection{
    background-color: #0A0A0A;
    width: 100%;
    border-radius: 8px;
    
  }
  .titleSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6.5%;
    background: linear-gradient(to top, transparent, rgba(88, 88, 88, 0.164));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: #383838 2px solid;
    gap: 20px;
  }
  
  .titleBlogSection{
    font-weight: 800; 
    font-size: 1.3rem; 
    margin: 0;
    
  }
  .containerSearchSort{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .searchBar{
    width: 100%;
  }
  .cardContainer{
    width: 320px;
    border-radius: 8px;
    margin-top: 8px;
  }
  
  .cardSorted{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: fit-content;
  }

  .imgContainer{
    height: 180px;
    
  }
  .imgSorted{
    width: 100%;
    height: 160px;
    
  }
  .imgSorted img{
    border-radius: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  

  .textBlogContainer{
    height: fit-content;
  }
  .textSorted{
    flex-direction: column;
    width: 90%;
    height: fit-content;
    padding: 0px 0px;
  }
  .textSorted h2{
    width: 100%;
    font-size: 1rem;
    padding-top: 10px;
  }
  .textSorted p{
    width: 100%;
    font-size: 0.8rem;
    padding-top: 0px;
    margin: 0px;
  }
  .textSorted span{
    width: 100%;
    font-size: 0.6rem;
  }
  
  .textBlogContainer p{
    font-size: 0.9rem;
    
  }
  .textBlogContainer h2{
    font-size: 1.1rem;
    padding-top: 0px;
    height: 30px;
    padding-bottom: 10px;
    
  
  }
  .textBlogContainer span{
    font-size: 0.6rem;
  }
  
  .sortedLinkContainer{
    justify-content: center;
    align-items: end;
    padding: 5px;
    
    height: 30px;
  }

  .arrowlink{
    font-size: 20px;
  }
  
  .link{
    border-radius: 15px;
    height: 30px;
  }
}

@media screen and (max-width: 450px) {
  .blogDetailContainer{
    margin-top: 20px ;
    width: 100%;
  }

  .imageDetailContainer{
    width: 100%;
    height: 100px;
    
  }
  .containerTextDetail{
    padding: 5px;
    width: 100%;
    margin-left: 0px;
  }
  .containerTextDetail p{
    font-size: 0.5rem;
  }
  .titleDetail{
    font-size: 0.7rem;
  }

  .navBarContainer{
    margin-bottom: 0px;
  }
  .sectionTitle{
    height: 20vh;
    background-image: none;
    padding-bottom: 20px;
  }
  .titleHome{
    font-size: 2.5rem;
  }
  .subTitleHome{
    text-align: center;
    font-size: 0.8rem;
    
  }
  
  .blogsSection{
    background-color: #0A0A0A;
    width: 100%;
    border-radius: 8px;
    
  }
  .titleSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 6.5%;
    background: linear-gradient(to top, transparent, rgba(88, 88, 88, 0.164));
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: #383838 2px solid;
    gap: 20px;
  }
  
  .titleBlogSection{
    font-weight: 800; 
    font-size: 1.3rem; 
    margin: 0;
    
  }
  .containerSearchSort{
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .searchBar{
    width: 100%;
  }
  .cardContainer{
    width: 260px;
    border-radius: 8px;
    margin-top: 8px;
  }
  
  .cardSorted{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: fit-content;
  }

  .imgContainer{
    height: 150px;
    
  }
  .imgSorted{
    width: 100%;
    height: 140px;
    
  }
  .imgSorted img{
    border-radius: 0px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }
  

  .textBlogContainer{
    height: 150px;
  }
  .textSorted{
    flex-direction: column;
    width: 90%;
    height: fit-content;
    padding: 0px 0px;
  }
  .textSorted h2{
    width: 100%;
    font-size: 0.7rem;
    padding-top: 10px;
  }
  .textSorted p{
    width: 100%;
    font-size: 0.6rem;
    padding-top: 0px;
    margin: 0px;
  }
  .textSorted span{
    width: 100%;
    font-size: 0.4rem;
  }
  
  .textBlogContainer p{
    font-size: 0.5rem;
    
  }
  .textBlogContainer h2{
    font-size: 0.7rem;
    padding-top: 0px;
    height: 30px;
    
  
  }
  .textBlogContainer span{
    font-size: 0.4rem;
  }
  
  .sortedLinkContainer{
    justify-content: center;
    align-items: end;
    padding: 5px;
    
    height: 30px;
  }

  .arrowlink{
    font-size: 20px;
  }
  
  .link{
    border-radius: 15px;
    height: 30px;
  }
}